<div class="container-fluid">
  <div class="row no-gutter mt-2">
    <div class="col-12 bg-grey-light border-grey-top p-2 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-address-card fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">ABOUT ME</h1>
    </div>
  </div>


  <div class="row no-gutter bg-grey-lightest py-4">
    <div class="col-8 offset-2">
      <div class="row no-gutter">
        <div class="col-3">
          <img src="../../assets/Suhail_Yazdan_Ui_Ux_Designer.jpg" class="rounded" />
        </div>

        <div class="col-9">
          <h3> Suhail Yazdan</h3>
          <h5>Ui Ux Designer</h5>
          <p>
            An aptitude for innovative designs. Committed to pursuing a long term career in UX/UI, Graphic Design,
            Web Design, Front End Development, Web Application Development . I work in those arena because I knew I
            can make the experience more enjoyable through imaginations, creativity and idea. I can help get good
            Design to match your needs.
          </p>

          <p>
            My responsibilities included the creation, design and development of the front end of Applications, Research
            User Experience, Design and Development of User Interface, and so on. I worked closely with development &
            marketing professionals to help them provide the best possible results, information & designs.
          </p>

          <p>
            Experience has taught me how to build strong relationships with all departments at an organization. I have
            the
            ability to work within a team as well as cross-team. I can work with web engineers to resolve technical
            issues
            and implement technical enhancements, work with the development department to implement design and
            functional
            enhancements, and monitor site statistics and conduct search engine optimization.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter mt-2">
    <div class="col-12 bg-grey-light border-grey-top p-2 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-briefcase fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">WORK EXPERIENCE</h1>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest pt-4 pb-2">
    <div class="col-8 offset-2">
      <div class="row no-gutter">
        <div class="col-4 px-2">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">Ui Ux Designer</h5>
                <h6 class="my-2">IBM India Ltd</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 px-2">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">Web Designer</h5>
                <h6 class="my-2">Value Wings</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 px-2">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">Freelance Designer</h5>
                <h6 class="my-2">Freelance</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 px-2">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">Web & Graphic Designer</h5>
                <h6 class="my-2">R Square Consulting</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 px-2">
          <div class="contentBox">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">BFU Animations</h5>
                <h6 class="my-2">Flash Animator</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 px-2">
          <div class="contentBox">
            <div class="innerBox">
              <div class="mt-3">
                <h5 class="my-2">Design Faculty</h5>
                <h6 class="my-2">WLC College</h6>
              </div>

              <div class="mt-2">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium
                  dignissimos
                  maxime eius, asperiores blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter mt-2">
    <div class="col-12 bg-grey-light border-grey-top p-2 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-cogs fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">SKILL SET</h1>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest py-4">
    <div class="col-8 offset-2">
      <div class="row no-gutter">
        <div class="col-12 d-flex flex-wrap justify-content-center">
          <div class="skillBox">
            Ui Ux Design
          </div>

          <div class="skillBox">
            Web Design
          </div>

          <div class="skillBox">
            Graphic Design
          </div>

          <div class="skillBox">
            Web Application Development
          </div>

          <div class="skillBox">
            HTML
          </div>

          <div class="skillBox">
            CSS
          </div>

          <div class="skillBox">
            JavaScript
          </div>

          <div class="skillBox">
            Angular
          </div>

          <div class="skillBox">
            Bootstrap
          </div>

          <div class="skillBox">
            jQuery
          </div>

          <div class="skillBox">
            Photoshop
          </div>

          <div class="skillBox">
            Illustrator
          </div>

          <div class="skillBox">
            Node.js, Express.js
          </div>

          <div class="skillBox">
            Firebase
          </div>

          <div class="skillBox">
            MongoDB
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter mt-2">
    <div class="col-12 bg-grey-light border-grey-top p-2 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-futbol-o fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">INTERESTS</h1>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest py-4">
    <div class="col-8 offset-2">
      <div class="row no-gutter">
        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-plane fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Travelling
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-book fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Reading
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-globe fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Internet
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-tachometer fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Technologies
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-rss fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Blogging
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-microchip fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Innovation
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-camera-retro fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Photography
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 px-3">
          <div class="contentBox mb-3">
            <div class="innerBox">
              <div class="my-3">
                <span class="icon-wrapper">
                  <i class="fa fa-map-marker fa-2x font-blue-light" aria-hidden="true"></i>
                </span>
              </div>

              <div class="skillBox mb-3">
                Tourism
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
