<div class="container-fluid mt-1">
  <div class="row no-gutter">
    <div class="col-10 offset-1 my-3">
      <div class="contentBox">
        <div class="innerBox">
          <div class="row no-gutter">
            <div class="col-12 col-md-3 pl-md-1 text-md-center">
              <div class="my-3 text-md-right">
                <img src="../../assets/Suhail_Yazdan_Ui_Ux_Designer.jpg" class="rounded-circle img-fluid" />
              </div>
            </div>

            <div class="col-12 col-md-9 pr-3 text-md-left">
              <h3 class="mt-4"> Suhail Yazdan</h3>
              <h5>Ui Ux Designer</h5>
              <p>
                An aptitude for innovative designs. Committed to pursuing a long term career in UX/UI, Graphic Design,
                Web
                Design, Front End Development, Web Application Development . I work in those arena because I knew I
                can
                make the experience more enjoyable through imaginations, creativity and idea. I can help get good
                Design
                to match your needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter">
    <div class="col-12 bg-grey-light border-grey-top p-2 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-camera-retro fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">PORTOFOLIO</h1>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest py-4">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="row no-gutter">
        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img01.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img02.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img03.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img04.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img05.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img06.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img07.jpg" class="rounded w-100" />
        </div>

        <div class="col-12 px-4 py-2 col-md-3 p-md-2">
          <img src="../../assets/portfolio/img08.jpg" class="rounded w-100" />
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter">
    <div class="col-12 bg-grey-light border-grey-top p-2 mt-3 text-center">
      <div class="mt-3">
        <span class="icon-wrapper">
          <i class="fa fa-superpowers fa-2x font-blue-light" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="font-blue-light">SKILLS</h1>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest py-4">
    <div class="col-6 col-md-4 offset-md-2 mb-2 px-2">
      <div class="contentBox">
        <div class="innerBox">
          <div class="mt-3">
            <span class="icon-wrapper">
              <i class="fa fa-laptop fa-2x font-blue-light" aria-hidden="true"></i>
            </span>
            <h5 class="my-2">Ui Ux Design</h5>
          </div>

          <div class="mt-2">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium dignissimos
              maxime eius, asperiores blanditiis
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 mb-2 px-2">
      <div class="contentBox">
        <div class="innerBox">
          <div class="mt-3">
            <span class="icon-wrapper">
              <i class="fa fa-globe fa-2x font-blue-light" aria-hidden="true"></i>
            </span>
            <h5 class="my-2">Web Design</h5>
          </div>

          <div class="mt-2">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium dignissimos
              maxime eius, asperiores blanditiis
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 offset-md-2 mb-2 px-2">
      <div class="contentBox">
        <div class="innerBox">
          <div class="mt-3">
            <span class="icon-wrapper">
              <i class="fa fa-pie-chart fa-2x font-blue-light" aria-hidden="true"></i>
            </span>
            <h5 class="my-2">Graphic Design</h5>
          </div>

          <div class="mt-2">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium dignissimos
              maxime eius, asperiores blanditiis
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 mb-2 px-2">
      <div class="contentBox">
        <div class="innerBox">
          <div class="mt-3">
            <span class="icon-wrapper">
              <i class="fa fa-cloud fa-2x font-blue-light" aria-hidden="true"></i>
            </span>
            <h5 class="my-2">Web Development</h5>
          </div>

          <div class="mt-2">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolore corrupti accusantium dignissimos
              maxime eius, asperiores blanditiis
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutter bg-grey-lightest border-grey-top py-4 mt-3">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="row">
        <div class="col-12 col-md-5 mb-3 mb-md-0">
          <div class="contentBox02 p-4">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>

              <div class="form-group">
                <label for="email">E Mail</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>

              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="tel" class="form-control" id="mobile" placeholder="Mobile No.">
              </div>

              <div class="form-group">
                <label for="details">Enquiry For</label>
                <textarea class="form-control" id="details" rows="3"></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="col-12 col-md-7 bg-grey-lightest-more pt-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1091240511496!2d77.59470381385671!3d12.96486851853618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15d784844a65%3A0x52fda702469de558!2sRichmond%20Circle%2C%20Bengaluru%2C%20Karnataka%20560001!5e0!3m2!1sen!2sin!4v1591283687344!5m2!1sen!2sin"
            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
